<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>全思nginx vhost生成器</title>
    <?- include("base/head") ?>
</head>
<body>
    <div class="container">
        <form action="/login" method="post">
            <input type="password" name="password" placeholder="请输入密码">
            <input type="submit" value="提交">
        </form>
    </div>
</body>
</html>